<div class="surface-card p-4 shadow-2 border-round">
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-file-import mr-2"></i>
          <span class="font-bold white-space-nowrap m-0"> Start of Year </span>
        </div>
      </ng-template>
      <p>{{ staffData | json }}</p>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-file-edit mr-2"></i>
          <span class="font-bold white-space-nowrap m-0"> Mid Year </span>
        </div>
      </ng-template>
      <p>My First Program</p>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-file-export mr-2"></i>
          <span class="font-bold white-space-nowrap m-0"> End of Year </span>
        </div>
      </ng-template>
      <p>My First Program</p>
    </p-tabPanel>
  </p-tabView>
</div>
