<!-- <ng-container>
  <app-auto-complete
    [required]="false"
    field="fullname"
    dataKey="id"
    [placeholder]="'Start typing staff name to see list'"
    [control]="formCtrl"
    [results]="staffList"
    [completeSearchFn]="staffSearchFunction"
  ></app-auto-complete>
</ng-container> -->

<!-- <app-auto-complete
  [control]="formCtrl"
  [suggestions]="(staff$ | async) || []"
  (searchEvent)="staffSearchFunction($event.query)"
  [multiple]="false"
  [forceSelection]="true"
  [dropdown]="true"
  field="full_name"
  [dataKey]="'full_name'"
  placeholder="Start typing staff name to see list"
></app-auto-complete> -->

<p-autoComplete
  formControlName="assigned_event"
  placeholder="Start typing staff name to see list"
  [suggestions]="(staff$ | async) || []"
  dataKey="name"
  [multiple]="false"
  (completeMethod)="staffSearchFunction($event.query)"
  field="name"
  [dropdown]="true"
  appendTo="body"
>
  <ng-template let-events pTemplate="item">
    <div>
      <div>{{ events.full_name }}</div>
    </div>
  </ng-template>
</p-autoComplete>
