<!-- <p>{{ selectedCycle$ | async | json }}</p> -->
<!-- <div class="surface-card p-4 shadow-2 border-round"> -->
<div
  class="mb-3 flex flex-column align-items-start md:flex-row md:align-items-center md:justify-content-between"
>
  <div class="mb-3 md:mb-0">
    <div class="text-3xl font-medium text-900 mb-3">
      {{ (selectedCycle$ | async)?.name }}
    </div>
  </div>
  <button
    pButton
    pRipple
    label="New Section"
    icon="pi pi-plus"
    (click)="addNewSections()"
  ></button>
</div>
<div class="flex flex-column md:flex-row justify-content-between">
  <div class="col-12 md:col-4">
    <p-orderList
      #orderList
      [disabled]="disbledPicker$()"
      [value]="sectionData"
      [listStyle]="{ 'max-height': '30rem' }"
      header="Appraisal Sections"
      [dragdrop]="true"
    >
      <ng-template let-data let-index="index" pTemplate="item">
        <div
          class="flex justify-content-between"
          role="region"
          (click)="
            selectFieldAndReturnComponent(data, index); $event.stopPropagation()
          "
        >
          <div class="flex flex-column">
            <div class="text-primary">{{ data.name }}</div>
            <div class="text-xs">{{ data.description }}</div>
          </div>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-danger"
            pTooltip="Delete details"
            (click)="deleteSection(index)"
          ></p-button>
        </div>
      </ng-template>
    </p-orderList>
  </div>
  <div class="col-12 md:col-8">
    <ng-container #formFieldContainer></ng-container>
  </div>
</div>
<div class="field align-items-end m-3" style="text-align: end">
  <p-button
    [disabled]="disbledPicker$() || sectionData.length < 1"
    label="Submit"
    icon="pi pi-check"
    (click)="submitSections()"
  ></p-button>
</div>
<!-- </div> -->
