<div class="min-h-screen flex surface-ground">
  <app-side-bar></app-side-bar>
  <div class="min-h-screen flex flex-column relative flex-auto">
    <div
      class="flex justify-content-between align-items-center px-5 surface-section sticky top-0 z-2 border-bottom-1 surface-border"
      style="height: 60px"
    >
      <div class="flex">
        <a
          pRipple
          class="cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3"
          pStyleClass="#app-sidebar-9"
          enterClass="hidden"
          enterActiveClass="fadeinleft"
          leaveToClass="hidden"
          leaveActiveClass="fadeoutleft"
          [hideOnOutsideClick]="true"
        >
          <i class="pi pi-bars text-4xl"></i>
        </a>
      </div>
      <div class="flex">
        <p-dropdown
          styleClass="mr-2"
          [options]="staff"
          optionLabel="label"
          appendTo="body"
          placeholder="Select a Staff"
          [(ngModel)]="selectedStaff"
          (onChange)="onStaffChange($event)"
        >
        </p-dropdown>

        <a
          pRipple
          class="cursor-pointer inline-flex align-items-center justify-content-center block lg:hidden text-700"
          pStyleClass="@next"
          enterClass="hidden"
          enterActiveClass="fadein"
          leaveToClass="hidden"
          leaveActiveClass="fadeout"
        >
          <i class="pi pi-ellipsis-v text-2xl"></i>
        </a>
        <ul
          class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row surface-section border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static"
        >
          <li>
            <a
              pRipple
              class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
            >
              <i
                class="pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0"
                pBadge
                severity="danger"
                value="1"
              ></i>
              <span class="block lg:hidden font-medium">Notifications</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="p-5 flex flex-column relative flex-auto">
      <div class="surface-ground">
        <p-breadcrumb
          *ngIf="((breadcrumbs$ | async) || []).length > 1"
          styleClass="p-0 border-noround border-none m-0 pl-2 mb-3 surface-ground"
          [model]="(breadcrumbs$ | async) ?? []"
        ></p-breadcrumb>
      </div>

      <div class="surface-border border-round surface-section flex-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
