<div class="surface-card p-4 p-fluid">
  <div class="grid formgrid p-fluid">
    <div class="field mb-4 col-12 md:col-6">
      <label for="title" class="font-medium text-900">Title</label>
      <input type="text" pInputText />
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="first_name" class="font-medium text-900">First Name</label>
      <input type="text" pInputText />
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="last_name" class="font-medium text-900">Last Name</label>
      <input type="text" pInputText />
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="other_name" class="font-medium text-900">Other Name</label>
      <input type="text" pInputText />
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="email" class="font-medium text-900">Email</label>
      <input type="text" pInputText />
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="gender" class="font-medium text-900">Gender</label>
      <input type="text" pInputText />
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="departmnet" class="font-medium text-900">Department</label>
      <input type="text" pInputText />
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="position" class="font-medium text-900">Position</label>
      <input type="text" pInputText />
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="grade" class="font-medium text-900">Grade</label>
      <input type="text" pInputText />
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="appointment_date" class="font-medium text-900"
        >Appointment Date</label
      >
      <p-calendar [showIcon]="true"></p-calendar>
    </div>

    <div class="field mb-4 col-12 md:col-6">
      <label for="role" class="font-medium text-900">Role</label>
      <input type="text" pInputText />
    </div>

    <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
  </div>
  <button
    pButton
    pRipple
    label="Create Invoice"
    icon="pi pi-file"
    class="w-auto"
  ></button>
</div>
