<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 lg:col-4 p-2">
      <div class="shadow-2 surface-card border-round p-4 h-full">
        <div class="flex align-items-start">
          <div
            class="bg-blue-100 border-round inline-flex align-items-center justify-content-center"
            style="width: 52px; height: 52px"
          >
            <img
              src="assets/images/stats-illustration-1.svg"
              width="38"
              height="38"
            />
          </div>
          <div class="ml-3 flex-1">
            <span class="block text-900 mb-1 text-xl font-medium">Revenue</span>
            <p class="text-600 mt-0 mb-5 text-sm">Sales Goal</p>
            <div class="flex align-items-center justify-content-between">
              <span class="text-700">Achieved</span>
              <span class="font-bold text-700">12/12</span>
            </div>
            <ul class="list-none p-0 m-0 flex align-content-center mt-2 gap-2">
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-blue-500"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-blue-500"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-blue-500"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-blue-500"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-blue-500"
              ></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-4 p-2">
      <div class="shadow-2 surface-card border-round p-4 h-full">
        <div class="flex align-items-start">
          <div
            class="bg-blue-100 border-round inline-flex align-items-center justify-content-center"
            style="width: 52px; height: 52px"
          >
            <img
              src="assets/images/stats-illustration-2.svg"
              width="38"
              height="38"
            />
          </div>
          <div class="ml-3 flex-1">
            <span class="block text-900 mb-1 text-xl font-medium">Reviews</span>
            <p class="text-600 mt-0 mb-5 text-sm">Client Messages</p>
            <div class="flex align-items-center justify-content-between">
              <span class="text-700">In Progress</span>
              <span class="font-bold text-700">4/12</span>
            </div>
            <ul class="list-none p-0 m-0 flex align-content-center mt-2 gap-2">
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-orange-500"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-orange-500"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-gray-300"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-gray-300"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-gray-300"
              ></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-4 p-2">
      <div class="shadow-2 surface-card border-round p-4 h-full">
        <div class="flex align-items-start">
          <div
            class="bg-blue-100 border-round inline-flex align-items-center justify-content-center"
            style="width: 52px; height: 52px"
          >
            <img
              src="assets/images/stats-illustration-3.svg"
              width="38"
              height="38"
            />
          </div>
          <div class="ml-3 flex-1">
            <span class="block text-900 mb-1 text-xl font-medium">Tasks</span>
            <p class="text-600 mt-0 mb-5 text-sm">Completed Tasks</p>
            <div class="flex align-items-center justify-content-between">
              <span class="text-700">In Progress</span>
              <span class="font-bold text-700">8/12</span>
            </div>
            <ul class="list-none p-0 m-0 flex align-content-center mt-2 gap-2">
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-purple-500"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-purple-500"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-purple-500"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-gray-300"
              ></li>
              <li
                style="height: 7px; border-radius: 3px"
                class="flex-1 bg-gray-300"
              ></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
